<h1>Your Clubs</h1>

<% if @clubs.empty? %>
    You haven't joined any clubs yet. Why not start your own?
<% else %>
    <% @clubs.each do |club| %>
        <%= link_to club.name, club_path(club) %>
    <% end %>
<% end %>


<%= button_to "Create A New Club", new_club_path, { method: 'get', class: "btn btn-primary" } %>