<%# 1. Move logo and style nav accordingly %>
<%# 2. Create form_for @user with appropriate fields, routes and redirects %>
<%# 3. Allow OAuth via Facebook / Twitter %>

<%= render partial: 'header' %>

<h1><%= link_to 'Sign Up with Facebook', '/auth/facebook' %></h1>

<%= render partial: 'form', locals: {user: @user} %>

<p>Have an account with us? <%= link_to 'Sign in', new_session_path %> here.</p>