<%# 1. Show user profile, not dashboard %>
    <%# Probably includes details, e.g. how many books read, currently reading (see if there is a need for this field in schema.rb), name, location, etc. %>

<h1>Hello, <%= @user.first_name %>!</h1>

<% if @user.image %>
    <%= image_tag (@user.image) %>
<% end %>

<%= link_to 'Log Out', signout_path, method: "delete" %>