<div class="about">

    <h1>About</h1>

    <p>Ready for your daily dose of vitamin B? That's "B" for books! An online platform dedicated to literature, rebelbase connects like-minded rebels all over the world through one thing. No advertisements, no promotionals, just <strong>books</strong>. </p>

    <h2>rebelbase is about rediscovering stories through others.</h2>

    <p>Give your thoughts a voice. Look at your favourite books in a different light. </p>

    <p>rebelbase was created by <a href="http://janicedarikho.com">Janice</a>.</p>

</div>