<div class="about">

    <h1>About</h1>

    <p>An online platform dedicated to literature, rebelbase connects like-minded rebels all over the world through one thing. No advertisements, no promotionals, just books. </p>

    <h2>rebelbase is about rediscovering stories through others.</h2>

    <p>Give your thoughts a voice. Look at your favourite books in a different light. </p>

    <p>rebelbase was created by <a href="http://janicedarikho.com">Janice</a>.</p>

    <style>.bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#000000 !important;background-color:#FFFFFF !important;border-radius: 3px !important;border: 1px solid black !important;padding: 0px 9px !important;font-size: 17px !important;letter-spacing:-0.08px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Lato' !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.7 !important;color:#000000 !important;}</style><link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/jouissances"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>

</div>