$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
@import "bootstrap";
@import "clubs";
@import "books";
@import "discussions";
@import "admin/users";
@import "users";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";

@font-face {   
    font-family: 'Maison Neue';   
    src: font-url('MaisonNeue-Light.ttf');  
    font-weight: 200;
    font-style: normal; 
}

@font-face {   
    font-family: 'Maison Neue';   
    src: font-url('MaisonNeue-Mono.ttf');  
    font-weight: 400;
    font-style: normal; 
}

@font-face {   
    font-family: 'Px Grotesk';   
    src: font-url('PxGrotesk-Bold.otf');  
    font-weight: 600;
    font-style: normal; 
}

// This file contains CSS for the static pages, as well as application.html.erb layout that is used throughout the website.

* {
    font-family: 'Maison Neue';
    font-weight: 200;
    font-size: 12px;
}

section.hero {
    margin: 150px 0;
}

span#typed {
    font-family: 'Px Grotesk';
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.typed-cursor{
    font-size: 42px;
    font-weight: 200;
}

h1 {
    font-family: 'Px Grotesk';
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5vh;
}

a {
    font-family: 'Px Grotesk';
    font-weight: 600;
    text-decoration: underline;
    transition: all 300ms ease-out;
    color: #000000;
}

    a:hover {
        color: #cccccc;
    }

.center {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.top {
    padding-top: 5vh;
}

.narrow {
    width: 60%;
}

div.form-label-group label {
    padding-top: 0.55rem !important;
    font-family: 'Px Grotesk';
    font-weight: 600;
    text-align: left;
}

input {
    text-align: center;
    margin-right: 5px;
    padding: 0.25rem 1.5rem !important;
}

textarea {
    padding-top: 2rem !important;
    height: 80px !important;
}

strong {
    font-weight: 600;
}

.btn {
    font-family: 'Px Grotesk';
    font-weight: 600;
    margin-right: 15px;
}

div.buttons {
    display: flex;
    align-items: center;
}

.hero.buttons a {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}

    header img {
        height: 50px;
        border-radius: 50%;
    }

    header div.logo a {
        margin-left: 10px;
    }

    header nav a {
        margin: 0 12px;
    }

div.club-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 3vh;
}

div.club-grid {
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: left;
    padding: 2vh 2vw;
    margin-top: 3vh;
    position: relative;
}

div.club-grid p.book-title {
}

div.club-grid p.book-title a {
    color: #777777;
    font-family: 'Maison Neue';
    font-weight: 400;
    transition: all 0.3s ease-in;
}

div.club-grid p.book-title a:hover {
    color: #222222;
}

div.club-grid h1 a {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 1rem;
}

div.club-grid img {
    position: relative;
    top: -3vh;
    left: -2.4vw;
    width: 117.8%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 20%;
}

div.club-grid p.description {
    font-size: 11px;
    font-style: italic;
}

div.club-grid a.right {
    position: relative;
    left: 85%;
}

div.discussions-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

div.discussion-wrapper {
    position: relative;
    padding: 3vh 2vw;
    margin-bottom: 3vh;
    width: auto;
    border: 1px solid #cccccc;
    border-radius: 12px;
}

div.discussion-wrapper img {
    position: relative;
    height: 250px;
    top: -3.5vh;
    left: -2.4vw;
    width: 117.8%;
    object-fit: cover;
    object-position: 50% 20%;
}

div.discussion-wrapper a {
    margin-right: 0;
}

div.discussion-wrapper h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

div.about {
    text-align: center;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 14vh auto;
    line-height: 2;
}

    div.about h2 {
        font-family: 'Px Grotesk';
        font-size: 18px;
        font-weight: 700;
        margin: 3vh 0;
    }

    div.about p,
    div.about a {
        font-size: 14px;
    }

    div.about a {
        transition: all 300ms ease-out;
        text-decoration: underline;
        color: #000000;
    }

        div.about a:hover {
            color: #cccccc;
        }

section.content {
    padding: 3vh 5vw;
}

section.content p {
    margin-bottom: 3vh;
}

section.new-clubs,
section.new-discussions {
    padding-bottom: 6vh;
    border-bottom: 1px solid #ccc;
}

section.new-clubs h2,
section.new-discussions h2 {
    margin-top: 5vh;
}

form {
    text-align: center;
}

form div.form-label-group {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 98vw;
    bottom: 0;
    left: 15px;
}

    footer p {
        font-size: 10px;
    }

    footer div.social {
        position: relative;
        padding-right: 15px;
    }

    footer div.social a {
        padding-left: 5px;
    }

section.new-discussions div.discussion-wrapper h3 a {
    font-size: 1.25rem;
    font-weight: 600;
}

section.new-clubs a.right,
section.new-discussions a.right {
    position: relative;
    left: 85%;
    padding: 3vh 0;
}

img.question {
    height: 50px;
    width: 50px;
    display: block;
    margin: 5vh auto;
}