@import "bootstrap";

/* @font-face {
    font-family: 'Maison Neue';
    font-weight: 200;
    src: url('../fonts/MaisonNeue-Book.ttf');
}

* {
    font-family: 'Maison Neue';
    font-weight: 200;
    font-size: 12px;
}

h1 {
    font-family: 'Px Grotesk';
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

strong {
    font-size: 14px;
    font-weight: 500;
}

.center {
    margin: 0 auto;
    position: relative;
    left: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

    header img {
        height: 50px;
    }

    header nav a {
        margin: 0 12px;
        text-decoration: none;
        transition: all 300ms ease-out;
        color: #000000;
    }

        header nav a:hover {
            color: #cccccc;
        }

div.about {
    text-align: center;
    position: relative;
    top: 14vh;
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
}

    div.about h1 {
        font-family: 'Px Grotesk';
        font-size: 28px;
        font-weight: 700;
    }

    div.about h2 {
        font-family: 'Px Grotesk';
        font-size: 18px;
        font-weight: 700;
    }

    div.about p,
    div.about a {
        font-size: 14px;
    }

    div.about a {
        transition: all 300ms ease-out;
        color: #000000;
    }

        div.about a:hover {
            color: #cccccc;
        }

form {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 15px;
}

footer p {
    font-size: 10px;
} */