@font-face {   
    font-family: 'Maison Neue';   
    src: font-url('MaisonNeue-Light.ttf');  
    font-weight: 200;
    font-style: normal; 
}

@font-face {   
    font-family: 'Px Grotesk';   
    src: font-url('PxGrotesk-Bold.otf');  
    font-weight: 600;
    font-style: normal; 
}
