<footer>
    <p>Explore hundreds of books meticulously handpicked by people like you. © 2018 rebelbase</p>
    <div class="social">
        <a href="https://github.com/jouissances/rebel-base"> <i class="fab fa-github"></i></a>
        <a href="#"> <i class="fab fa-facebook"></i></a>
        <a href="#"> <i class="fab fa-instagram"></i></a>
    </div>
</footer>
